.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  h2 {
    margin-bottom: 8px;
  }
}

.filters-listbox {
  div {
    flex-flow: nowrap !important;
  }
}
