<app-filter (selectedStatusChange)="onStatusChange($event)"></app-filter>
<div class="actions">
  <button mat-button color="primary" (click)="startSimulation()">
    Start simulation
  </button>
  <mat-icon
    class="loading-icon"
    [class.spin]="isSimulationRunning()"
    aria-hidden="false"
    aria-label="Simulation loading icon"
    >
    autorenew
  </mat-icon>
  <button mat-button color="warn" (click)="stopSimulation()">
    Stop simulation
  </button>
</div>
@if (simulatedResponse()) {
  <div
  [className]="
    'simulated-shipment' +
    (simulatedResponse()?.success ? ' success' : ' error')
  "
    >
    @if (simulatedResponse()?.success) {
      <p>
        Shipment N°<b>{{ simulatedResponse()?.shipment?.trackingNumber }}</b> has
        been updated to
        <b>{{ simulatedResponse()?.nextStatus }}</b>
      </p>
    }
    @if (!simulatedResponse()?.success) {
      <p>
        Can't update shipment N°<b>{{
        simulatedResponse()?.shipment?.trackingNumber
        }}</b
        >, its status is already on
        <b>{{ simulatedResponse()?.shipment?.status }}</b>
      </p>
    }
  </div>
}
<app-shipment-list [shipments]="shipments()"></app-shipment-list>
