mat-card {
  box-shadow: none !important;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: #fbf6f6;
  border: 2px solid #e0e0e0;
}

mat-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  p {
    width: fit-content;
  }
}
